#root {
  margin: 0 auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 用于检测用户是否没有设置"减少动画"的偏好
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 30s linear;
  }
} */

  .logo {
    animation: logo-spin infinite 30s linear;
  }